<html>
<head>
<style>
section {margin-bottom: 50px; margin-right: 50px; margin-left: 50px; padding-bottom: 30px; padding-top: 30px;}
</style>
    <title>BudayaKB Lite v2.0 - Raihan Rizqi Muhtadiin</title>
</head>

<body style="background-color: rgba(238, 221, 221, 0.7)">
    {% include 'includes/_navbar.html' %}
    <section>
    <h2 style="text-align: center;">About This BudayaKB Lite Project</h2>
    <br>
    <p style="text-align: justify; margin-left: 50px; margin-right: 50px;">
        Halo semuanya, perkenalkan nama saya Raihan!<br>
        Saya adalah kreator dari <i>website</i> ini.<br><br>
        <i>Website</i> ini saya buat dalam rangka memenuhi Tugas Pemrograman 4 (TP4) dari mata kuliah Dasar-Dasar Pemrograman 1 (DDP1). <i>Website</i> ini masih dalam tahap awal banget, jadi mohon maaf kalau kelihatannya masih belum bagus hehe. <i>Website</i> ini dibuat menggunakan bahasa pemrograman Python dengan bantuan modul Flask untuk pembuatan GUI dan terhubung ke <i>localhost</i>. Katanya sih, pengerjaan TP4 ini bisa menjadi langkah awal persiapan menuju mata kuliah yang lebih asik, apalagi kalau bukan Perancangan dan Pemrograman Web (PPW) hehe.<br>
        Oh ya, tak lupa saya haturkan terima kasih kepada teman-teman yang sudah membantu dan mengajarkan kepada saya, baik mengenai konsep hingga eksekusi untuk TP4 ini.<br>
        Semuanya, semoga semangat selalu! ^^
    </p>
    <h3 style="text-align: center; font-style: italic;">
        "It doesn't matter whether you do it right or with mistakes.<br>
        When you decided to do it, you're right.<br>
        When you decided not to do it, that's where your mistakes begin."<br>
        -Me
    </h3>
    </section>
    {% include 'includes/_pagefooter.html' %}
</body>
</html>