<html>
<head>
<style>
section {margin-bottom: 50px; margin-right: 50px; margin-left: 50px; padding-bottom: 30px; padding-top: 30px;}
</style>
    <title>BudayaKB Lite v2.0 - Raihan Rizqi Muhtadiin</title>
</head>

<body style="background-color: rgba(238, 221, 221, 0.7)">
    {% include 'includes/_navbar.html' %}
    <section>
    <div style="text-align: center;">
        <h2>Link GitHub BudayaKB Lite CLI Version</h2>
        <br><br>
        <p>Berikut disediakan link menuju <i>full source code</i> untuk BudayaKB Lite versi CLI.</p>
        <form action="https://github.com/RaiRiz/TP3-DDP1-RaiRiz/blob/master/TP3_H_GAF_1906353776_RaihanRizqiMuhtadiin.py" target="_blank">
            <button type="submit">Menuju repository</button>
        </form>
        <p>Anda bebas berkreasi menggunakan kode dalam repository tersebut. Namun isi kodenya masih cukup berantakan.</p>
    </div>
    </section>
    {% include 'includes/_pagefooter.html' %}
</body>
</html>