<html>
<head>
<style>
section {margin-bottom: 50px; margin-right: 50px; margin-left: 50px; padding-bottom: 30px; padding-top: 30px;}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
tr:nth-child(even){background-color: rgb(226, 188, 188);}
tr:nth-child(odd){background-color: rgb(226, 211, 211);}
tr:hover {background-color:#f5f5f5;}
th {
  background-color: #4CAF50;
  color: white;
}
</style>
    <title>BudayaKB Lite v2.0 - Raihan Rizqi Muhtadiin</title>
</head>

<body style="background-color: rgba(238, 221, 221, 0.7)">
    {% include 'includes/_navbar.html' %}
    <section>
    <div style="text-align: center;">
        <h2>Kriteria Pencarian</h2>
        <form method="POST", action="">
            <select name="kategori">
                <option value="nama budaya">Nama Budaya</option>
                <option value="tipe budaya">Tipe Budaya</option>
                <option value="asal provinsi budaya">Asal Provinsi Budaya</option>
            </select>
            <input type="text" name="nama" required>
            <input type=submit value="Cari Data Budaya">
        </form>
    
        {% if result is defined %}
            {% if result == [] %}
                <h4>Data dengan kata kunci tersebut tidak terdapat dalam kategori terkait. Silakan coba kata kunci yang lain.</h4>
            {% else %}
                <h4>Ditemukan {{result|length}} data {{kategori}} dengan kata kunci : {{nama}}</h4>

            <table>
                <tr>
                    <th>Nama</th>
                    <th>Tipe</th>
                    <th>Asal</th>
                    <th>URL</th>
                </tr>
                {% for item in result %}
                <tr>
                    <td align=center> {{ item.nama }} </td>
                    <td align=center> {{ item.tipe }} </td>
                    <td align=center> {{ item.prov }} </td>
                    {% if "http" in item.url[:4] %}
                    <td align=center> <a href="{{ item.url }}" target="_blank">{{ item.url }}</a></td>
                    {% else %}
                    <td align=center> <a href="//{{ item.url }}" target="_blank">{{ item.url }}</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        {% endif %}
    </div>
    </section>
    {% include 'includes/_pagefooter.html' %}
</body>
</html>