<html>
<head>
<style>
section {margin-bottom: 50px; margin-right: 50px; margin-left: 50px; padding-bottom: 30px; padding-top: 30px;}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 15px;
  background-color: #f2f2f2;
  padding: 15px;
}
</style>
    <title>BudayaKB Lite v2.0 - Raihan Rizqi Muhtadiin</title>
</head>

<body style="background-color: rgba(238, 221, 221, 0.7)">
    {% include 'includes/_navbar.html' %}
    <section>
    <h2 style="text-align: center;">Hapus Data Budaya</h2>
    <p>Masukkan data budaya yang ingin Anda hapus dari sistem.</p>
    {% if penghapus_data is defined and penghapus_data == 1 %}
      <h3>{{nama}} berhasil dihapus.</h3>
    {% elif penghapus_data is defined and penghapus_data == 0 %}
      <h3>Gagal menghapus: {{nama}} sejak awal tidak terdapat dalam data!</h3>
    {% endif %}
    <div>
        <form method="POST", action="">
            Nama            :   <input type="text" name="nama" placeholder="Masukkan nama budaya...." required><br>
            <input type=submit value="Hapus Data">
        </form>
    </div>
    </section>
    {% include 'includes/_pagefooter.html' %}
</body>
</html>