<html>
<head>
<style>
section {margin-bottom: 50px; margin-right: 50px; margin-left: 50px; padding-bottom: 30px; padding-top: 30px;}
</style>
	<title>BudayaKB Lite v2.0 - Raihan Rizqi Muhtadiin</title>
</head>

<body style="background-color: rgba(238, 221, 221, 0.7)">
	{% include 'includes/_navbar.html' %}
	<section>
		<h2 style="text-align: center;">Impor Budaya</h2>
		<form method="POST", action="" enctype = "multipart/form-data">
			<fieldset>
				<legend>Pilih file CSV berisi data BudayaKB:</legend>
				<input type="file" name=file required>
				<input type=submit value="Impor Data">
			</fieldset>
		</form>

	{% if result is defined and result > 0 %}
	<h3>{% print result %} data budaya telah terimpor dari file "{% print fname %}"</h3>
	{% elif result is defined and result == 0 %}
	<h3>Tidak ada data di dalam file "{% print fname %}"</h3>
	{% elif result is defined and result < 0 %}
	<h3>Gagal mengimpor file. Pastikan file yang Anda impor berada di folder yang sama dengan folder tempat program ini disimpan.</h3>
	{% endif %}
	</section>
	{% include 'includes/_pagefooter.html' %}
</body>
</html>



	
	
