<html>
<head>
<style>
section {margin-bottom: 50px; margin-right: 50px; margin-left: 50px; padding-bottom: 30px; padding-top: 30px;}
</style>
	<title>BudayaKB Lite v2.0 - Raihan Rizqi Muhtadiin</title>
</head>

<body style="text-align: justify; background-color: rgba(238, 221, 221, 0.7)">
	{% include 'includes/_navbar.html' %}
	<section>
		<p align="center"><img src="https://cdn2.tstatic.net/kaltim/foto/bank/images/peta-indonesia_20180106_084833.jpg" alt="Peta Indonesia" width="360" height="200"></p>
		<h1 style="text-align: center;"><span style="color: blue;">Selamat Datang</span><span style="color: red;"> di BudayaKB!</span></h1>
	
		<p>Indonesia adalah negara yang kaya akan warisan budaya. Batik, misalnya, merupakan salah satu simbol warisan budaya Indonesia yang telah diakui oleh UNESCO sebagai <i>intangible cultural heritage of humanity</i>. Warisan budaya lainnya yang tidak kalah populer adalah Rendang, yang merupakan ikon kuliner Indonesia dan terpilih sebagai masakan terenak di dunia menurut CNN. Tentunya, masih banyak lagi warisan-warisan budaya Indonesia yang tak kalah menarik, mulai dari Tari Saman hingga Upacara Kuk Kir Kna.</p>
		<p>Agar tetap lekat dan lestari dalam hati dan ingatan masyarakat Indonesia, kita perlu suatu cara atau media yang tepat guna. Saat ini teknologi berkembang dengan amat cepatnya sehingga agaknya dapat digunakan sebagai media penambah wawasan bagi masyarakat untuk makin mengenal dan mencintai budaya-budaya Indonesia.</p>
	
		<p>Sistem BudayaKB merupakan sistem manajemen <i>knowledge base</i> (KB) untuk warisan budaya Indonesia. Sistem ini dikembangkan untuk melestarikan budaya Indonesia dan memiliki beberapa fitur sebagai berikut:</p>
		<ol>
			<li>Mengimpor dan mengekspor data budaya</li><br/>
			<li>Mencari data budaya</li><br/>
			<li>Menambahkan, menyunting, dan menghapus data budaya</li><br/>
			<li>Menampilkan statistik data budaya</li><br/>
		</ol>
		<p>Anda bisa mulai menjelajahi setiap fitur BudayaKB dengan menggunakan <i>navbar</i> di atas.</p>
	</section>
	{% include 'includes/_pagefooter.html' %}	
</body>
</html>