<html>
<head>
<style>
section {margin-bottom: 50px; margin-right: 50px; margin-left: 50px; padding-bottom: 30px; padding-top: 30px;}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
tr:nth-child(even){background-color: rgb(226, 188, 188);}
tr:nth-child(odd){background-color: rgb(226, 211, 211);}
tr:hover {background-color:#f5f5f5;}
th {
  background-color: #4CAF50;
  color: white;
}
</style>
    <title>BudayaKB Lite v2.0 - Raihan Rizqi Muhtadiin</title>
</head>

<body style="background-color: rgba(238, 221, 221, 0.7)">
    {% include 'includes/_navbar.html' %}
    <section>
    <div style="text-align: center;">
        <h2>Kriteria Pencarian Statistik Data Budaya</h2>
        <form method="POST", action="">
            <select name="kategoristat">
                <option value="Keseluruhan">Keseluruhan</option>
                <option value="tipeBudaya">Tipe Budaya</option>
                <option value="asalBudaya">Asal Provinsi Budaya</option>
            </select>
            <input type=submit value="Tampilkan">
        </form>

        {% if kategoristat == "Keseluruhan" %}
        <h4>BudayaKB memiliki total {{result}} data budaya.</h4>
        {% endif %}

        {% if kategoristat == "tipeBudaya" or kategoristat == "asalBudaya" %}
            {% if kategoristat == "tipeBudaya" %}
            <h4>Statistik Data Budaya berdasarkan Tipe</h4>
            {% else %}
            <h4>Statistik Data Budaya berdasarkan Asal Provinsi</h4>
            {% endif %}

        <table>
            <tr>
                <th>Kriteria</th>
                <th>Banyaknya</th>
            </tr>          
            {% for v in result %}
            <tr>
                <td align=center> {{ v }} </td>
                <td align=center> {{ result[v] }} </td>
            </tr>
            {% endfor %} 
        </table>
        {% endif %}
    </div>
    </section>
    {% include 'includes/_pagefooter.html' %}
</body>
</html>